body { 
background-color: #FC7307;
color: #342E09;
font-family: arial, helvetica, sans-serif;
}
h1 {background-color: gold;
text-align:center;
font-weight: bold;
font-style: italic}
h2 {background-color: gold;
text-align:center;
font-weight: bold;
font-style:italic}
h3 {background-color: gold;
text-align: center;
font-weight: bold;
font-style:italic}


