/* cbc 2018-12-10: body and header styling */
body { 
background-color: lightblue;
color: darkblue;
font-family: arial, helvetica, sans-serif;
}

h1 {background-color: gold;
padding: 50px;
margin: 50px;
border: 2px solid darkblue;
text-align:center;
font-weight: bold;
font-style: italic}

h2 {background-color: gold;
padding: 50px;
margin: 50px;
border: 2px solid darkblue;
text-align:center;
font-weight: bold;
font-style:italic}

h3 {background-color: gold;
padding: 50px;
margin: 50px;
border: 2px solid darkblue;
text-align: center;
font-weight: bold;
font-style:italic}

h4 {background-color: gold;
padding: 50px;
margin: 50px;
border: 2px solid darkblue;
text-align: center;
font-weight: bold;
font-style: italic}

/* cbc 2018-12-10: style of headers */

.ed{
    color: darkblue
}

.em{
    color: darkblue
}

.eh{
    color: darkblue
}

.en{
    color: darkblue
}

/* cbc 2018-12-10: style of images */

img {
    width: 300px; height: 300px 
}

.images-container {
    display: flex;
    justify-content: space-between
    
}

